<% provide(:title, "Home") %>
<h1>PPIRL</h1>
<p>
  This is the home page for the
  <a href="http://research.tamhsc.edu/pinformatics/record-linkage-basics/">Privacy Preserving Interactive Record Linkage</a>
  Project.
</p>
